.levels {
  position: relative;
}

.level {
  flex: 1 1 auto;
  margin-right: 1rem;
  height: 100%;
  background-color: lightgray;
}

.level:last-child {
  margin-right: 0;
}

.background, .foreground {
  display: flex;
  height: 100%;
  width: 100%;
}

.foreground {
  position: absolute;
  top: 0;
  left: 0;
}

.foreground .level {
  background-color: grey;
}

:host(.strength-weak) .foreground .level {
  background-color: darkred;
}

:host(.strength-medium) .foreground .level {
  background-color: yellow;
}

:host(.strength-strong) .foreground .level {
  background-color: green;
}

@supports (color: var(--primary)) {
  :host {
    --strength-bar-height: 5px;
    --strength-bar-margin: 1rem;
    --strength-bar-bg: lightgray;
    --strength-bar-fg-default: grey;
    --strength-bar-fg-weak: darkred;
    --strength-bar-fg-medium: yellow;
    --strength-bar-fg-strong: green;
  }

  .levels {
    height: var(--strength-bar-height);
  }

  .level {
    margin-right: var(--strength-bar-margin);
    background-color: var(--strength-bar-bg);
  }

  .foreground .level {
    background-color: var(--strength-bar-fg-default);
  }

  :host(.strength-weak) .foreground .level {
    background-color: var(--strength-bar-fg-weak);
  }

  :host(.strength-medium) .foreground .level {
    background-color: var(--strength-bar-fg-medium);
  }

  :host(.strength-strong) .foreground .level {
    background-color: var(--strength-bar-fg-strong);
  }
}
